In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

In [3]:
train = pd.read_csv("Train.csv")

In [4]:
train.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V45,V47,V50,V51,V52,V59,V63,V72,V75,class
0,0.0,1.0,243.0,29,4528.0,138.0,3.0,29,201.0,0.0,...,2,3,71.0,0,0,46.0,1,2,0,1
1,0.0,20.0,8.0,14,4183.0,183.0,4.0,26,156.0,0.0,...,5,7,20.0,0,2,13.0,9,6,0,1
2,14.0,2.0,2.0,9,1113.0,15.0,37.0,31,78.0,1.0,...,7,5,11.0,0,0,7.0,9,2,1,0
3,0.0,175.0,17.0,16,4250.0,68.0,8.0,30,152.0,0.0,...,1,3,0.0,1,1,31.0,6,4,5,1
4,2.0,-1.0,1.0,3,0.0,0.0,2.0,5,6.0,1.0,...,1,5,0.0,0,0,2.0,8,0,1,1

In [14]:
corr = train.corr()

In [20]:
corr[corr["class"]>0.05].index

Index(['V4', 'V5', 'V6', 'V8', 'V13', 'class'], dtype='object')

In [6]:
train["class"].sum()

20439

In [7]:
X = train.drop(columns="class")
y = train["class"]

In [25]:
X = train[['V4', 'V5', 'V6', 'V8', 'V13']]

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

In [9]:
scaler = StandardScaler()

In [10]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [27]:
mean_acc = np.zeros(20)
for i in range(1,21):
    #Train Model and Predict  
    knn = KNeighborsClassifier(n_neighbors = i,).fit(X_train,y_train)
    yhat= knn.predict(X_test)
    mean_acc[i-1] = metrics.f1_score(y_test, yhat)

In [28]:
mean_acc

array([0.55645161, 0.42271626, 0.5791443 , 0.50138478, 0.59532854,
       0.54428195, 0.60589985, 0.5642661 , 0.61398176, 0.57607373,
       0.61864204, 0.58828567, 0.62129145, 0.59593986, 0.62613789,
       0.60297204, 0.62914748, 0.60662716, 0.63108023, 0.61130449])

In [13]:
y_pred = Model.predict(X_test)

NameError: name 'Model' is not defined

In [ ]:
f1_score(y_test,y_pred)

0.5829203832177073